[Unit]
Description=uWSGI instance to serve munas to LIS
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/lis-sales
Environment="PATH=/home/lis-sales/lis-sales-env/bin"
ExecStart=/home/lis-sales/lis-sales-env/bin/uwsgi --ini lis-sales.ini

[Install]
WantedBy=multi-user.target