[Unit]
Description=gunicorn instance to serve munas HRMS
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/munas-hrms-backend
Environment="PATH=/home/munas-hrms-backend/munas-hrms-env/bin"
ExecStart=/home/munas-hrms-backend/munas-hrms-env/bin/gunicorn --config gunicorn.conf.py wsgi:app

[Install]
WantedBy=multi-user.target