{% extends 'index.html' %}

{% block scripthead %}
<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    sessionStorage.setItem("leadsObj", '{{response_data|tojson}}')
    console.log({{ response_data | tojson}})
    // document.location = "/home"
    {% else %}
    console.log({{ response_data| tojson}})
    {% endif %}
    const leadsObj = {{ response_data| tojson}}

</script>
{% endblock %}

{% block content %}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="#">
                    <div class="card-box widget-box-one">
                        <i class="mdi mdi-account-multiple widget-one-icon"></i>
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow">new leads</p>
                            <h2 class="text-success"><span data-plugin="counterup">{{response_data.new_leads}}</span>
                            </h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="/api/leads/followups?&assigned_to={{response_data.user[1]}}&day=today">
                    <div class="card-box widget-box-one">
                        <i class="mdi mdi-account-convert widget-one-icon"></i>
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Pending Tasks">
                                Pending Tasks</p>
                            <h2 class="text-warning"><span data-plugin="counterup">{{response_data.today}}</span> </h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="/api/leads/followups?&assigned_to={{response_data.user[1]}}&day=overdue">
                    <div class="card-box widget-box-one">
                        <i class="mdi mdi-av-timer widget-one-icon"></i>
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Overdue Tasks</p>
                            <h2 class="text-danger"><span data-plugin="counterup">{{response_data.overdue}}</span> </h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="#">
                    <div class="card-box widget-box-one">
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Monthly Target</p>
                            <h2 class="text-success"><span data-plugin="counterup">52410 </span></h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="#">
                    <div class="card-box widget-box-one">
                        <i class="mdi mdi-account-multiple widget-one-icon"></i>
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Meetings </p>
                            <h2 class="text-danger"><span data-plugin="counterup">{{response_data.overdue}}</span> / 30
                            </h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="#">
                    <div class="card-box widget-box-one">
                        <i class="mdi mdi-currency-usd widget-one-icon"></i>
                        <div class="wigdet-one-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Pending Tasks">
                                Total Sales</p>
                            <h2 class="text-warning"><span data-plugin="counterup">4</span> </h2>
                        </div>
                    </div>
                    </a>
                </div><!-- end col -->
            </div>
            <!------row div-->>

        </div> <!-- container card -->

    </div><!-- end content -->

</div><!-- end content page -->

{% endblock %}